<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Irrigator Manuel</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"></link>
        
    </head>
    <body>
        <div class="main">

            <div class="menu">

                <a href="{{ url_for('index') }}">Home &#9751;</a>
                <a href="{{ url_for('forecast') }}">Current Forecast &#9728;</a>
                <a href="{{ url_for('settings') }}">Settings &#9881;</a>
                <a href="{{ url_for('override') }}">Water Now &#9730;</a>

            </div>

            <div class="body">

                <img src="{{ user_image }}" alt="Weather forecast" width="750" height="250">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>ManueX will water your plant in: </h3>

            </div>

        </div>
        
    </body>
</html>